.footer__list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;

    li {
        display: flex;
        flex-direction: column;

        a {
            text-decoration: none;
            color: white;
            margin-bottom: 15px;
            font-family: "DM Sans", serif;
            font-size: 18px;
            font-weight: 400;
        }
    }

    .footer__item--title {
        font-weight: 500;
    }
}

.footer__underline {
    display: flex;
    justify-content: space-between;

    p {
        color: white;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-size: 14px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        width: 250px;

        a {
            text-decoration: none;
            color: white;
            font-family: "DM Sans", serif;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 36px;
        }
    }
}