.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header_logo {
    display: flex;
    align-items: center;
    width: 96px;
    justify-content: space-between;
    cursor: pointer;
}

.header_logo img {
    display: block;
    max-height: 34.25px;
    max-width: 34.25px;
}

.header_logo--text {
    color: white;
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.header_nav {
    width: 656px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 61px;

    a {
        color: white;
        text-decoration: none;
        font-family: "DM Sans", serif;
        font-size: 14px;
        font-weight: 500;
        transition: all ease 0.1s;
    }

    a:hover {
        color: #9595dc;
    }
}

.header_button {
    background: none;
    height: 42px;
    width: 132px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(37, 99, 235, 1) 0%, rgba(217, 70, 239, 1) 100%);

    font-family: "DM Sans", serif;
    font-size: 14px;
    font-weight: 500;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;


}

.header_button:hover {
    transform: scale(1.02);
}