<footer class="footer">
  <div class="container">
    <ul class="footer__list">
      <li>
        <a href="" class="footer__item--title">Service</a>
        <a href="">Order Management</a>
        <a href="">Social Assistant</a>
        <a href="">Crypto Platform</a>
        <a href="">Analyzer of the News</a>
      </li>
      <li>
        <a href="" class="footer__item--title">Company</a>
        <a href="">About Us</a>
        <a href="">News</a>
        <a href="">Our trusted partner</a>
        <a href="">New users FAQ</a>
      </li>
      <li>
        <a href="" class="footer__item--title">Supports</a>
        <a href="">Help center</a>
        <a href="">Feedbcak</a>
        <a href="">Contact us</a>
        <a href="">Terms conditins</a>
      </li>
      <li>
        <a href="" class="footer__item--title">Resources</a>
        <a href="">Download app</a>
        <a href="">Blog</a>
        <a href="">What’s new</a>
        <a href="">Sitemap</a>
      </li>
    </ul>
  </div>

  <div
    style="
      background-color: #969696;
      height: 1px;
      margin-bottom: 30px;
      width: 100%;
    "
  ></div>

  <div class="container footer__underline">
    <p>© 2021 Zone. - All rights reserved.</p>
    <nav>
      <a href="">Privacy</a>
      <a href="">Security</a>
      <a href="">Terms</a>
    </nav>
  </div>
</footer>
