<section class="hero">
  <div class="container">
    <div class="hero__left">
      <h1 class="hero__title">Virtual Reality Business Solutions</h1>
      <p class="hero__text">
        We have over 15 year exprience in business consultting arena. We have
        over 15 year exprience in business consultting arena and artficial
        intelligence.
      </p>

      <div class="hero__div">
        <button>Join Us</button>
        <div class="hero__div--right">
            <img src="/img/video.svg" alt="">
            <p>Watch video</p>
        </div>
      </div>
    </div>

    <img src="/img/hero.svg" alt="" class="hero__img" />
  </div>
</section>

<section class="service">
  <div class="container">
    <h1 class="service__title">Our Service</h1>
    <p class="service__subtitle">
      We turn information into actionable insights We work to understand your
      issues and are driven to ask better questions in the pursuit of making
      work.
    </p>

    <ul class="service__list">
      <li>
        <div class="service__item--div">
          <img src="/img/service/1.svg" alt="" />
          <h3>Order Management</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur the adipiscing elit. Sed
            quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.
          </p>
          <div>
            <p>Learn more</p>
            <img src="/img/service/arrow.svg" alt="" />
          </div>
        </div>
      </li>

      <li>
        <div class="service__item--div">
          <img src="/img/service/2.svg" alt="" />
          <h3>Social Assistant</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur the adipiscing elit. Sed
            quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.
          </p>
          <div>
            <p>Learn more</p>
            <img src="/img/service/arrow.svg" alt="" />
          </div>
        </div>
      </li>

      <li>
        <div class="service__item--div">
          <img src="/img/service/3.svg" alt="" />
          <h3>Crypto Platform</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur the adipiscing elit. Sed
            quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.
          </p>
          <div>
            <p>Learn more</p>
            <img src="/img/service/arrow.svg" alt="" />
          </div>
        </div>
      </li>

      <li>
        <div class="service__item--div">
          <img src="/img/service/4.svg" alt="" />
          <h3>Smart Trading Modules</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur the adipiscing elit. Sed
            quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.
          </p>
          <div>
            <p>Learn more</p>
            <img src="/img/service/arrow.svg" alt="" />
          </div>
        </div>
      </li>

      <li>
        <div class="service__item--div">
          <img src="/img/service/5.svg" alt="" />
          <h3>Analyzer of the News</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur the adipiscing elit. Sed
            quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.
          </p>
          <div>
            <p>Learn more</p>
            <img src="/img/service/arrow.svg" alt="" />
          </div>
        </div>
      </li>

      <li>
        <div class="service__item--div">
          <img src="/img/service/6.svg" alt="" />
          <h3>Module of Price Notification</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur the adipiscing elit. Sed
            quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.
          </p>
          <div>
            <p>Learn more</p>
            <img src="/img/service/arrow.svg" alt="" />
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- <section class="team">
  <div class="container">
    <h1 class="team__title">Met Our Team</h1>
    <p class="team__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan
      nisi Ut ut felis congue nisl hendrerit commodo.
    </p>

    <ul class="team__list">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section> -->

<section class="subscribe">
  <div class="container">
    <div class="subscribe__form">
      <h1>Subscribe to get the Latest News</h1>
      <p>
        We recommended you to subscribe to our newspaper,drop your email below
        to get daily update about us
      </p>

      <div>
        <input type="text" placeholder="Enter your email addres"/>
        <button>Subscribe</button>
      </div>
    </div>
  </div>
</section>
